* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-bottom: 0.9375rem;
  position: sticky;
  top: 0rem;
  z-index: 999;
}
header .logo-rojo {
  height: 3.125rem;
  width: 7.8125rem;
  object-fit: cover;
  padding-top: 0.625rem;
  padding-left: 0.625rem;
}
header nav .menu {
  display: flex;
  width: 50vw;
  list-style: none;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
header nav .menu a {
  text-decoration: none;
  color: white;
  font-family: "Oswald", sans-serif;
}
header nav .menu a:hover {
  color: #DFDED9;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
footer .redes-sociales {
  display: flex;
  width: 25vw;
  align-items: center;
  gap: 0.625rem;
}
footer .redes-sociales .logo-blanco {
  height: 3.125rem;
  width: 7.8125rem;
  object-fit: cover;
  padding-bottom: 0.1875rem;
  padding-left: 0.625rem;
}
footer .redes-sociales .logos-redes-2 {
  height: 1.25rem;
}
footer .redes-sociales .logos-redes {
  height: 1.875rem;
}
footer .derechos p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin: 0rem 2.5rem;
}

.main-index .portada {
  background: url(../assets/img/portada.jpg);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
.main-index .portada h1 {
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
  width: 70vw;
}
.main-index .portada h2 {
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
  font-size: 2rem;
}
.main-index .portada .conocenos {
  background-color: black;
  font-family: "Oswald", sans-serif;
  color: white;
  border: 0.125rem solid red;
  font-size: 1.5rem;
  padding: 1.5625rem 2.8125rem;
  margin-top: 1.875rem;
  text-decoration: none;
}
.main-index .portada .conocenos:hover {
  background-color: red;
  border: 0.125rem solid white;
}
.main-index .bloque-1 {
  display: flex;
  justify-content: flex-start;
}
.main-index .bloque-1 .foto-bloque-1 {
  width: 45vw;
  object-fit: cover;
}
.main-index .bloque-1 .nuestra-historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55vw;
  padding: 1.25rem 0;
}
.main-index .bloque-1 .nuestra-historia h2 {
  color: red;
  font-family: "Oswald", sans-serif;
  font-size: 2.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
}
.main-index .bloque-1 .nuestra-historia p {
  text-align: justify;
  width: 40vw;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}
.main-index .bloque-2 {
  background-color: red;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}
.main-index .bloque-2 .sub-1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
  color: white;
  text-align: center;
  padding-bottom: 0.625rem;
  margin: 0 30px;
}
.main-index .bloque-2 .logros {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.625rem;
  text-align: center;
}
.main-index .bloque-2 .logros div {
  width: 15vw;
}
.main-index .bloque-2 .logros div .bold-blanco {
  font-family: "Oswald", sans-serif;
  font-size: 1.5625rem;
  color: white;
  text-align: center;
}
.main-index .bloque-2 .logros div .sin-relleno-blanco {
  font-size: 3.75rem;
  -webkit-text-stroke: 0.0625rem;
  -webkit-text-stroke-color: white;
  color: red;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.main-index .bloque-3 {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}
.main-index .bloque-3 .estas-listo {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-index .bloque-3 .estas-listo h2 {
  color: red;
  font-family: "Oswald", sans-serif;
  font-size: 2.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
}
.main-index .bloque-3 .estas-listo p {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  color: white;
  text-align: center;
}
.main-index .bloque-3 .foto-bloque-3 {
  width: 45vw;
}

.main-unete {
  background: url(../assets/img/Torneo\ eSports.jpg);
  height: 110vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-unete .bloque-formulario {
  background-color: black;
  width: 34.375rem;
  height: 43.75rem;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
  padding-bottom: 1.25rem;
  box-shadow: 0.125rem 0.125rem 0.625rem black;
}
.main-unete .bloque-formulario h1 {
  font-family: "Oswald", sans-serif;
  color: red;
  text-align: center;
  width: 20vw;
  font-size: 1.875rem;
}
.main-unete .bloque-formulario fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 5rem;
  justify-content: space-evenly;
}
.main-unete .bloque-formulario fieldset label {
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: left;
  font-size: 1.25rem;
}
.main-unete .bloque-formulario fieldset input {
  width: 25rem;
  height: 2.1875rem;
  background-color: #DFDED9;
  border: 0.125rem solid red;
  border-radius: 0.4375rem;
}
.main-unete .bloque-formulario fieldset input::placeholder {
  font-family: "Lato", sans-serif;
}
.main-unete .bloque-formulario fieldset .radios {
  display: flex;
  width: 25rem;
  height: 2.1875rem;
  justify-content: space-between;
  margin-top: 0.9375rem;
  align-items: center;
}
.main-unete .bloque-formulario fieldset .radios .option {
  display: flex;
  gap: 50px;
  align-items: center;
}
.main-unete .bloque-formulario fieldset .radios .option input {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #DFDED9;
  border: 0.0625rem solid red;
}
.main-unete .bloque-formulario fieldset .radios .option label {
  font-size: 1.25rem;
  font-family: "Oswald", sans-serif;
  color: white;
  margin-left: -2.5rem;
}
.main-unete .bloque-formulario .pregunta-5 {
  width: 25rem;
  height: 2.1875rem;
  margin-top: 0.625rem;
}
.main-unete .bloque-formulario .pregunta-5 input {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1.25rem;
}
.main-unete .bloque-formulario .comencemos {
  padding: 0.625rem 2.5rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  color: white;
  background-color: red;
  border: 0.125rem solid white;
  border-radius: 0.3125rem;
  margin-top: 0.625rem;
}
.main-unete .bloque-formulario .comencemos:hover {
  background-color: black;
  border: 0.125rem solid red;
}

.main-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
  gap: 2.5rem;
}
.main-noticias .columnas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40vh 40vh;
  grid-gap: 10px;
}
.main-noticias .columnas .noticia {
  position: relative;
}
.main-noticias .columnas .noticia h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  margin-bottom: 1.25rem;
  position: absolute;
  bottom: 0;
  font-size: 1.8rem;
  width: 80%;
  color: white;
  align: center;
  padding: 1.25rem;
}
.main-noticias .columnas .noticia:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.main-noticias .columnas .noticia:nth-child(2) {
  grid-column: 3/5;
  grid-row: 1/2;
}
.main-noticias .columnas .noticia:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}
.main-noticias .columnas .noticia img {
  filter: saturate(0);
}
.main-noticias .columnas .noticia img:hover {
  filter: saturate(1);
}
.main-noticias .columnas .noticia .foto-noticia {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-eventos {
  padding: 1.875rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}
.main-eventos h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3.125rem;
  color: white;
}
.main-eventos button {
  font-family: "Oswald", sans-serif;
  font-size: 1.875rem;
  padding: 0.9375rem 1.875rem;
  background-color: black;
  color: white;
  border: 0.125rem solid white;
}
.main-eventos button:hover {
  background-color: red;
}
.main-eventos .caja-evento-1 {
  background: url(../assets/img/evento1.jpg);
  background-size: cover;
  background-position: 0 -3.125rem;
  border-radius: 0.875rem;
  width: 90vw;
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
}
.main-eventos .caja-evento-2 {
  background: url(../assets/img/evento2.png);
  background-size: cover;
  background-position: 0 -3.125rem;
  border-radius: 0.875rem;
  width: 90vw;
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
}
.main-eventos .caja-evento-3 {
  background: url(../assets/img/evento3.jpg);
  background-size: cover;
  background-position: 0 -3.125rem;
  border-radius: 0.875rem;
  width: 90vw;
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
}

.main-equipo .juegos {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  padding: 1.875rem 0;
}
.main-equipo .juegos .caja-cs {
  background: url(../assets/img/CSGO.jpg);
  width: 23.75rem;
  height: 32.6875rem;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(75%);
  filter: saturate(0%);
}
.main-equipo .juegos .caja-cs:hover {
  filter: saturate(1);
}
.main-equipo .juegos .caja-cs img {
  width: 13.75rem;
  filter: brightness(100);
}
.main-equipo .juegos .caja-dota {
  background: url(../assets/img/Dota\ 2.jpeg);
  width: 23.75rem;
  height: 32.6875rem;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(75%);
  filter: saturate(0%);
}
.main-equipo .juegos .caja-dota:hover {
  filter: saturate(1);
}
.main-equipo .juegos .caja-dota img {
  width: 13.75rem;
  filter: brightness(100);
}
.main-equipo .juegos .caja-valorant {
  background: url(../assets/img/Valorant.jpg);
  width: 23.75rem;
  height: 32.6875rem;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(75%);
  filter: saturate(0%);
}
.main-equipo .juegos .caja-valorant:hover {
  filter: saturate(1);
}
.main-equipo .juegos .caja-valorant img {
  width: 13.75rem;
  filter: brightness(100);
}
.main-equipo .counter {
  padding: 3.125rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.main-equipo .counter h2 {
  font-size: 1.875rem;
  font-family: "Oswald", sans-serif;
  color: white;
}
.main-equipo .counter .caja-counter {
  background: url(../assets/img/Caja\ counter.jpg);
  width: 84.375rem;
  height: 30.625rem;
  background-size: cover;
  background-position: 0;
  display: flex;
  flex-direction: column;
}
.main-equipo .counter .caja-counter .sub {
  display: flex;
  margin-left: 1.875rem;
  margin-top: 2.5rem;
}
.main-equipo .counter .caja-counter .sub .epoje-blanco {
  width: 12.5rem;
}
.main-equipo .counter .caja-counter .jugadores {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  margin-top: 5rem;
}
.main-equipo .counter .caja-counter .jugadores div .fondo-imagen-jug {
  background-color: #DFDED9;
  width: 13.125rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main-equipo .counter .caja-counter .jugadores div .fondo-imagen-jug .foto-jugador {
  height: 10rem;
}
.main-equipo .counter .caja-counter .jugadores div .datos-jugador {
  width: 13.125rem;
  height: 8.4375rem;
  background-color: #513D3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-equipo .counter .caja-counter .jugadores div .datos-jugador .nickname {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  color: white;
  margin-bottom: 1.25rem;
}
.main-equipo .counter .caja-counter .jugadores div .datos-jugador p {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  color: white;
}
.main-equipo .dota {
  padding: 3.125rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.main-equipo .dota h2 {
  font-size: 1.875rem;
  font-family: "Oswald", sans-serif;
  color: white;
}
.main-equipo .dota .caja-d2 {
  background: url(../assets/img/Caja\ dota.jpg);
  width: 84.375rem;
  height: 30.625rem;
  background-size: cover;
  background-position: 0;
  display: flex;
  flex-direction: column;
}
.main-equipo .dota .caja-d2 .sub {
  display: flex;
  margin-left: 1.875rem;
  margin-top: 2.5rem;
}
.main-equipo .dota .caja-d2 .sub .epoje-blanco {
  width: 12.5rem;
}
.main-equipo .dota .caja-d2 .jugadores {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  margin-top: 5rem;
}
.main-equipo .dota .caja-d2 .jugadores div .fondo-imagen-jug {
  background-color: #DFDED9;
  width: 13.125rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main-equipo .dota .caja-d2 .jugadores div .fondo-imagen-jug .foto-jugador {
  height: 10rem;
}
.main-equipo .dota .caja-d2 .jugadores div .datos-jugador {
  width: 13.125rem;
  height: 8.4375rem;
  background-color: #513D3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-equipo .dota .caja-d2 .jugadores div .datos-jugador .nickname {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  color: white;
  margin-bottom: 1.25rem;
}
.main-equipo .dota .caja-d2 .jugadores div .datos-jugador p {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  color: white;
}
.main-equipo .valorant {
  padding: 3.125rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DFDED9;
}
.main-equipo .valorant h2 {
  font-size: 1.875rem;
  font-family: "Oswald", sans-serif;
  color: white;
}
.main-equipo .valorant .caja-val {
  background: url(../assets/img/Valorant\ fondo.jpg);
  width: 84.375rem;
  height: 30.625rem;
  background-size: cover;
  background-position: 0;
  display: flex;
  flex-direction: column;
}
.main-equipo .valorant .caja-val .sub {
  display: flex;
  margin-left: 1.875rem;
  margin-top: 2.5rem;
}
.main-equipo .valorant .caja-val .sub .epoje-blanco {
  width: 12.5rem;
}
.main-equipo .valorant .caja-val .jugadores {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  margin-top: 5rem;
}
.main-equipo .valorant .caja-val .jugadores div .fondo-imagen-jug {
  background-color: #DFDED9;
  width: 13.125rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main-equipo .valorant .caja-val .jugadores div .fondo-imagen-jug .foto-jugador {
  height: 10rem;
}
.main-equipo .valorant .caja-val .jugadores div .datos-jugador {
  width: 13.125rem;
  height: 8.4375rem;
  background-color: #513D3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-equipo .valorant .caja-val .jugadores div .datos-jugador .nickname {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  color: white;
  margin-bottom: 1.25rem;
}
.main-equipo .valorant .caja-val .jugadores div .datos-jugador p {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  color: white;
}

@media (max-width: 1024px) {
  .portada h1 {
    font-size: 3.4375rem;
  }
  .portada h2 {
    font-size: 1.875rem;
  }
  .portada a {
    font-size: 1.25rem;
    padding: 0.9375rem 1.875rem;
  }
  .bloque-1 h2 {
    font-size: 1.875rem;
  }
  .bloque-1 p {
    font-size: 1rem;
  }
  .bloque-2 .sub-1 {
    font-size: 1.25rem;
  }
  .bloque-2 .logros {
    display: flex;
    justify-content: center;
    gap: 0.9375rem;
    margin-right: 1.875rem;
  }
  .bloque-2 .logros .logros div {
    width: 15vw;
  }
  .bloque-2 .logros .logros div .sin-relleno-blanco {
    font-size: 2.5rem;
  }
  .bloque-2 .logros .logros div .bold-blanco {
    font-size: 1.25rem;
  }
  footer p {
    font-size: 0.875rem;
  }
  .fondo-formulario h1 {
    width: 60%;
  }
}
@media (max-width: 768px) {
  header nav ul {
    font-size: 0.875rem;
  }
  .main-index .portada {
    height: 90vh;
    align-items: center;
    background-repeat: no-repeat;
  }
  .main-index .portada h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }
  .main-index .portada h2 {
    font-size: 1.5625rem;
  }
  .main-index .bloque-1 h2 {
    font-size: 1.5625rem;
    padding-bottom: 0.3125rem;
  }
  .main-index .bloque-1 p {
    font-size: 0.75rem;
  }
  .main-index .bloque-2 {
    padding: 20px 0px;
  }
  .main-index .bloque-2 .sub-1 {
    font-size: 1rem;
  }
  .main-index .bloque-2 .logros {
    justify-content: space-evenly;
    margin-right: 0.625rem;
    flex-wrap: wrap;
  }
  .main-index .bloque-2 .logros div {
    width: 20vw;
    padding: 0px;
  }
  .main-index .bloque-2 .logros div .bold-blanco {
    font-size: 1rem;
    text-align: center;
  }
  .main-index .bloque-2 .logros div .sin-relleno-blanco {
    font-size: 24px;
  }
  .main-index .bloque-3 h2 {
    font-size: 1.5rem;
  }
  .main-index .bloque-3 p {
    font-size: 1rem;
  }
  .main-index .bloque-3 article {
    margin: 20px;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  footer .redes-sociales {
    width: 60vw;
    justify-content: center;
  }
  .main-unete {
    background-size: cover;
    background-position: center;
  }
  .main-unete .bloque-formulario {
    width: 80%;
    height: 90vh;
    gap: 0.625rem;
  }
  .main-unete .bloque-formulario fieldset {
    width: 70%;
  }
  .main-unete .bloque-formulario fieldset label {
    font-size: 2.5vw;
  }
  .main-unete .bloque-formulario fieldset input {
    width: 100%;
  }
  .main-unete .bloque-formulario h1 {
    font-size: 5vw;
  }
  .main-unete .bloque-formulario .pregunta-4 {
    width: 70%;
  }
  .main-unete .bloque-formulario .pregunta-4 .radios {
    width: 100%;
  }
  .main-unete .bloque-formulario .pregunta-4 .radios label {
    font-size: 2.5vw;
  }
  .main-unete .bloque-formulario .pregunta-5 {
    width: 70%;
  }
}
@media (max-width: 426px) {
  header {
    height: 37.5vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  header .menu {
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 1.25rem;
  }
  header .menu ul li {
    justify-content: center;
  }
  .main-index {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .main-index .portada {
    height: 90vh;
  }
  .main-index .bloque-1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
  }
  .main-index .bloque-1 .foto-bloque-1 {
    height: 45%;
    object-fit: cover;
    width: 100%;
  }
  .main-index .bloque-1 .nuestra-historia {
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 80%;
  }
  .main-index .bloque-1 .nuestra-historia p {
    width: 100%;
    font-size: 1rem;
  }
  .main-index .bloque-2 {
    height: 50vh;
  }
  .main-index .bloque-2 .logros {
    gap: 2.5rem;
  }
  .main-index .bloque-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-index .bloque-3 .estas-listo {
    height: 15vh;
  }
  .main-index .bloque-3 .estas-listo h2 {
    font-size: 1.5rem;
  }
  .main-index .bloque-3 .estas-listo p {
    font-size: 16px;
  }
  .main-index .bloque-3 .foto-bloque-3 {
    width: 100%;
    object-fit: cover;
  }
  footer div p {
    font-size: 0.75rem;
  }
  .main-noticias {
    padding: 1rem 0;
  }
  .main-noticias .columnas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20vh 20vh 20vh 20vh;
    grid-gap: 10px;
  }
  .main-noticias .columnas .noticia:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .main-noticias .columnas .noticia:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .main-noticias .columnas .noticia:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .main-noticias .columnas .noticia:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .main-unete {
    height: 90vh;
  }
  .main-unete .bloque-formulario {
    height: 82vh;
    justify-content: center;
    padding-bottom: 5px;
    gap: 0.625rem;
  }
  .main-unete .bloque-formulario fieldset {
    height: 10%;
  }
  .main-unete .bloque-formulario fieldset label {
    font-size: 3vw;
  }
  .main-unete .bloque-formulario .comencemos {
    font-size: 3.5vw;
  }
  .main-unete .bloque-formulario .pregunta-4 {
    height: 12vh;
  }
  .main-unete .bloque-formulario .pregunta-4 .radios {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
  }
  .main-unete .bloque-formulario .pregunta-4 .radios .option {
    justify-content: flex-start;
    align-self: flex-start;
  }
}
@media (max-width: 321px) {
  .bloque-2 {
    height: 80vh;
  }
  .bloque-2 .logros {
    gap: 3.75rem;
  }
  .bloque-3 article {
    width: 80%;
  }
  .bloque-3 h2 {
    font-size: 1.25rem;
  }
  .bloque-3 p {
    font-size: 0.875rem;
  }
  footer div p {
    font-size: 10px;
  }
  .fondo-formulario {
    height: 90vh;
  }
}

/*# sourceMappingURL=style.css.map */
