@media (max-width:768px){
    header{
        nav{
            ul{
                font-size: 0.875rem;
            }
        }
    }

    .main-index{
        .portada{
            height: 90vh;
            align-items: center;
            background-repeat: no-repeat;
            h1{
                font-size: 2.5rem;
                margin-bottom: 1.25rem;
            }
            h2{
                font-size: 1.5625rem;
            }
        }
        .bloque-1{
            h2{
                font-size: 1.5625rem;
                padding-bottom: 0.3125rem;
            }
            p{
                font-size: 0.75rem;
            }
        }
        .bloque-2{
            padding: 20px 0px;
            .sub-1{
                font-size: 1rem;
            }
            .logros{
                justify-content: space-evenly;
                margin-right: 0.625rem;
                flex-wrap: wrap;
                div{
                    width: 20vw;
                    padding: 0px;
                    .bold-blanco{
                        font-size: 1rem;
                        text-align: center;
                    }
                    .sin-relleno-blanco{
                        font-size: 24px;
                    }
                }
            }
        }
        .bloque-3{
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
            article{
                margin: 20px;
            }
        }
    }
    
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
        .redes-sociales{
            width: 60vw;
            justify-content: center;
        }
    }

    .main-unete{
        background-size: cover;
        background-position: center;
        .bloque-formulario{
            width: 80%;
            height: 90vh;
            gap: 0.625rem;
            fieldset{
                width: 70%;
                label{
                    font-size: 2.5vw;
                }
                input{
                    width: 100%;
                }
            }
            h1{
                font-size: 5vw;
            }
            .pregunta-4{
                width: 70%;
                .radios{
                    width: 100%;
                    label{
                        font-size: 2.5vw;
                    }
                }
            }
            .pregunta-5{
                width: 70%;
            }
        }
    }

    .main-eventos{
        section{
            padding: 5px;
            h2{
                font-size: 2.8rem;
                text-align: center;
            }
            button{
                font-size: 1rem;
            }
        }
    }

    .main-equipo{
        .juegos{
            display: flex;
            flex-direction: column;
            gap:1.875rem;
            justify-content: center;
            align-items: center;
            padding: 1.875rem 0;
            .caja-cs{
                background: url(../assets/img/CSGO.jpg);
                @include cajasTablet;
            }
            .caja-dota{
                background: url(../assets/img/Dota\ 2.jpeg);
                @include cajasTablet;
            }
            .caja-valorant{
                background: url(../assets/img/Valorant.jpg);
                @include cajasTablet;
            }
        }
        .counter{
            @include tituloTablet;
            background-color: map-get($colores, color1);
            .caja-counter{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                background: url(../assets/img/Caja\ counter.jpg);
                @include juegoTablet;
                @include jugadoresTablet;
            }
        }
        .dota{
            @include tituloTablet;
            background-color: map-get($colores, color2);
            .caja-d2{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                background: url(../assets/img/Caja\ dota.jpg);
                @include juegoTablet;
                @include jugadoresTablet;
            }
        }
        .valorant{
            @include tituloTablet;
            background-color: map-get($colores, color5);
            .caja-val{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                background: url(../assets/img/Valorant\ fondo.jpg);
                @include juegoTablet;
                @include jugadoresTablet;
            }
        }
    }
}